/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  text-align: center;
  background-size: cover;
  background: rgba(236, 240, 241, .55) url("../img/background-gradient.png") no-repeat top center;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
  color: #525951;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo {
  max-width: 80%;
  margin-left: -16%;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -moz-animation-name: logoEntrance;
  -webkit-animation-name: logoEntrance;
  animation-name: logoEntrance;
  transition: all 0.5s;
}

/* Content column */
.hero .headings {
  padding-top: 1rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  float: right;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-name: appear;
  -webkit-animation-name: appear;
  animation-name: appear;
}

/* Signup
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.signup {
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-name: appear;
  -webkit-animation-name: appear;
  animation-name: appear;
}

.signup input {
  text-transform: uppercase;
  line-height: normal;
  font-size: 1.2rem;
}

.signup .form-textbox {
  width: 25rem;
}

.signup .button {
  color: rgba(236, 240, 241, 1);
  background-color: #d6314a;
  border: none;
  transition: all .3s;
}

.signup .button:hover {
  background-color: #b0263e;
}

/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@keyframes logoEntrance {
  from {
    opacity: 0;
    margin-left: -100%;
  }
  to {
    opacity: 1;
    margin-left: -16%;
  }
}

@-moz-keyframes logoEntrance {
  from {
    opacity: 0;
    margin-left: -100%;
  }
  to {
    opacity: 1;
    margin-left: -16%;
  }
}

@-webkit-keyframes logoEntrance {
  from {
    opacity: 0;
    margin-left: -100%;
  }
  to {
    opacity: 1;
    margin-left: -16%;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries - CSS for specific screen sizes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }

  .hero {
    padding-bottom: 12rem;
  }

  .hero-title {
    font-size: 3.6rem;
  }

  .logo {
    /*position: absolute;*/
    /*top: 7rem;*/
    /*left: 3rem;*/
    /*margin: 0 auto;*/
    max-height: 362px;
    /*z-index: 3;*/
  }

  .hero-title {
    font-size: 3rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }

  .hero-heading {
    font-size: 2.6rem;
  }

  .section {
    padding: 14rem 0 15rem;
  }

  .hero {
    padding: 16rem 0 14rem;
  }

  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    /*top: 12rem;*/
    /*left: 8rem;*/
    max-height: 510px;
  }

  .signup {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 8rem;
  }

  .hero {
    padding: 17rem 0;
  }

  .hero-title {
    margin: 0.2rem auto 0;
    font-size: 5rem;
    letter-spacing: 0.4rem;
  }

  .hero-small {
    margin-top: -0.5rem;
    font-size: 2rem;
  }

  .hero-date {
    font-size: 3rem;
    margin-top: 1.5rem;
  }

  .hero-tagline {
    font-size: 3.5rem;
    margin-bottom: 4rem;
  }

  .logo {
    max-height: 615px;
  }
}
